@import url(https://fonts.googleapis.com/css?family=Lato|Ubuntu|Cinzel+Decorative:400,700);

html, body {
    width: 100vw;
    height: 100vh;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-color: green;
    font-family: "Lato", sans-serif;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
a {
    text-decoration: none;
    color: black;
}

header {
    background-color: rgb(98, 95, 95);
    padding: 0px 40px;
}
#menu-bar {
    display: flex;
    justify-content: center;
}
#menu-bar ul{
    background-color: white;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box-a img{
    width: 50px;
    padding: 10px;

}
.box-b nav ul{
    gap: 80px;
}
.box-c ul{
    gap: 10px;
}
.box-c img {
    width: 25px;

}

#content {
    width: 100%;
    height: 100%;

}
.intro {
    width: 100%;
    height: 50%;
}
.intro ul{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.intro li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro img{
    width: 70%;
}

#about {
    width: 100%;
    height: 40%;
    display: flex;


}
#about ul {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 5%;
    
}
#about ul li:first-of-type{
    width: 30%;
    color: white;
}
#about ul li:last-of-type{
    width: 50%;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.9rem;
}
#about img {
    width: 100%;
}
#menu {
    
    background-color: rgb(34, 33, 31);
    color: white;
    padding: 5% 6%;
}
#menu img {
    display: flex;
    justify-self: center;
    width: 18%;
}
#menu .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

section {
    width: 95%;
    margin: 0 auto;
}
section h2 {
    border-top: 0.5px solid #eae3be;
    border-bottom: 0.5px solid rgb(234, 227, 190);
    color: rgb(234, 227, 190);
    font-size: 1.1rem;
    padding: 1rem 0;
    margin-top: 3rem;
    margin-bottom: 1.3rem;
}
section ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
