@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Ubuntu:wght@400;700&display=swap');

html, body {
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    font-family: "Lato", sans-serif;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
a {
    text-decoration: none;
    color: black;
}

header {
    background-color: rgb(98, 95, 95);
    padding: 0px 40px;
    position: sticky;
    z-index: 1000;
    top: 0;
}
#menu-bar {
 
    display: flex;
    justify-content: center;
}
#menu-bar ul{
    min-width: 100px;
    background-color: white;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.box-a img{
    width: 50px;
    padding: 10px;

}
.box-b nav ul{
    gap: 80px;
}
.box-c ul{
    gap: 10px;
}
.box-c img {
    width: 25px;

}

#content {
    width: 100%;
    height: 100%;

}
.intro {
    width: 100%;
    min-height: 300px;
    display: flex;
}
.intro ul{
    width: 40%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.intro li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro img{
    width: 70%;
}

#about {
    width: 100%;
    height: 40%;
    min-height: 400px;
    display: flex;
    

}
#about ul {
    width: 50%;
    height: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 5%;
    
}
#about ul li:first-of-type{
    width: 30%;
    color: white;
}
#about ul li:last-of-type{
    width: 50%;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.9rem;
}
#about img {
    width: 100%;
}
#menu {
    background-color: rgb(34, 33, 31);
    color: white;
    padding: 5% 6%;
}
#menu img {
    display: flex;
    justify-self: center;
    width: 18%;
}
#menu .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

section {
    width: 95%;
    margin: 0 auto;

}
section .title {
    border-top: 0.5px solid #eae3be;
    border-bottom: 0.5px solid rgb(234, 227, 190);
    color: rgb(234, 227, 190);
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
section p {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;

}

section ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem;
}
div {
    display: block;
}
.ingredients {
    display: block;
    padding-bottom: 20px;
}
.ingredients .container {
    position: relative;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.ingredients [class$="b"] {
    max-width: 400px;
    min-width: 300px;
    height: auto;
    overflow: hidden;      /* crops anything outside container */
    z-index: 1;
   
}


.ingredients [class$="b"] img {
    top: -100px;
    width:  100%;           /* fills container horizontally */
    height: 100%;          /* fills container vertically */

}
.ingredients [class$="a"] {
    position: relative;
    z-index: 2;
    width: 100px;
    height: 100px;
    left: -100px;
    top: 50px;
    background-color: #335a69;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    
}
.ingredients [class$="c"] {
    position: relative;
    z-index: 3;
    left: -100px;
    top: 50px;
    padding: 10px;
    text-align: left;
    color: #335a69;;
    display: flex;
    align-items: center;
    flex: 1 1 400px;  
    
}
.ingredients [class$="c"] p{
    max-width: 600px;
    line-height: 2.2rem;
    
}
#contact {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    
}
#contact ul {
    display: flex;
    width: 200px;
    gap: 10px;
}
#contact ul a {
    padding: 10px 15px;
    border: 1px solid white;
    color: white;

}
#store {
    background-color: #2b3d41;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 30px;
}
.location-btn, #store p, .store-container {
    
    display: flex;
    gap: 10px;
    width: 50%;

}.location-btn li {
    background-color: white;
    padding:  10px;
    border-radius: 100px;
    color: #2b3d41;
}
.store-list  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.store-container img {
    width: 50px;

}
.store {
    display: flex;
    justify-content: space-between;
 

}
.store-list li{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    justify-content: space-between;
    font-size: 0.9rem;
}
.info-label {
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
  
}
.info-label p {
    display: flex;
    justify-content: end;
    align-items: end;
    font-weight: 600;
}
.store-name p {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 10px;
    min-width: 100px;
    text-align: center;
}
.store-info {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 10px;
    gap: 10px;
    padding-left: 10px;
  
}
.store-info p {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    
}
.store-map {
    display:flex;
    width: 200px;
    text-align: center;
}
#footer .container {
    background-color: rgb(45, 33, 33);
    
}
#footer p {
    padding: 10px 20px;
    margin: 0;
    color: white;
    font-size: 0.8rem;
}








